<div class="page-title">
  <div class="title_left">
    <h3>Crear Empresas</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 pull-right">
      <ol class="breadcrumb">
        <li>
          <a href="#">Empresas</a>
        </li>
        <li>
          <a href="#" class="active">Crear</a>
        </li>
      </ol>
    </div>
  </div>
  <form role="form" class="form-horizontal form-label-left" [formGroup]="companyForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Información General
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['name'].valid  && companyForm.controls['name'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="name" class="form-control" placeholder="Nombre de la empresa"
                           id="name"/>
                    <control-messages [control]="companyForm.controls['name']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['commercial_name'].valid  && companyForm.controls['commercial_name'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Comercial</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="commercial_name" class="form-control"
                           placeholder="Nombre Comercial de la empresa"
                           id="commercial_name"/>
                    <control-messages [control]="companyForm.controls['commercial_name']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['fiscal_identification'].valid  && companyForm.controls['fiscal_identification'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Identificación Fiscal (RUT)</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="fiscal_identification" class="form-control"
                           placeholder="Identificación Fiscal (RUT)"
                           id="fiscal_identification"/>
                    <control-messages [control]="companyForm.controls['fiscal_identification']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['email'].valid  && companyForm.controls['email'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Correo Electrónico</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="email" class="form-control"
                           placeholder="Correo Electrónico"
                           id="email"/>
                    <control-messages [control]="companyForm.controls['email']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['telephone'].valid  && companyForm.controls['telephone'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Teléfono</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="telephone" class="form-control"
                           placeholder="Teléfono"
                           id="telephone"/>
                    <control-messages [control]="companyForm.controls['telephone']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['fax'].valid  && companyForm.controls['fax'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Fax</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="fax" class="form-control"
                           placeholder="Fax"
                           id="fax"/>
                    <control-messages [control]="companyForm.controls['fax']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['field_id'].valid  && companyForm.controls['field_id'].touched}">
                  <label for="field_id" class="control-label col-md-3 col-sm-3 col-xs-12">Campo</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <select formControlName="field_id" class="form-control" id="field_id">
                      <option value="">Seleccione un campo</option>
                      <option [value]="field.id" *ngFor="let field of fields">{{field.name}}</option>
                    </select>
                    <control-messages [control]="companyForm.controls['field_id']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Dirección
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['country'].valid  && companyForm.controls['country'].touched}">
                  <label for="country" class="control-label col-md-3 col-sm-3 col-xs-12">País</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <select formControlName="country" class="form-control" id="country">
                      <option value="">Seleccione un país</option>
                      <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                    </select>
                    <control-messages [control]="companyForm.controls['country']"></control-messages>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['state'].valid  && companyForm.controls['state'].touched}">
                  <label for="state" class="control-label col-md-3 col-sm-3 col-xs-12">Estado o Provincía</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <select formControlName="state" class="form-control" id="state">
                      <option value="">Seleccione un estado</option>
                      <option [value]="state" *ngFor="let state of states">{{state}}</option>
                    </select>
                    <control-messages [control]="companyForm.controls['state']"></control-messages>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['city'].valid  && companyForm.controls['city'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Ciudad</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="city" class="form-control"
                           placeholder="Ciudad"
                           id="city"/>
                    <control-messages [control]="companyForm.controls['city']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['address'].valid  && companyForm.controls['address'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Dirección</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <textarea formControlName="address" class="form-control"
                              placeholder="Dirección"
                              rows="4"
                              id="address"></textarea>
                    <control-messages [control]="companyForm.controls['address']"></control-messages>
                  </div>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['zip_code'].valid  && companyForm.controls['zip_code'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Código Postal</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="zip_code" class="form-control"
                           placeholder="Código Postal"
                           id="zip_code"/>
                    <control-messages [control]="companyForm.controls['zip_code']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Configuración
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['users_number'].valid  && companyForm.controls['users_number'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Número de Usuarios</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="users_number" class="form-control" placeholder="Número de Usuarios"
                           id="users_number"/>
                    <control-messages [control]="companyForm.controls['users_number']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Usuario Administrador
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" formGroupName="user">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['user'].controls['first_name'].valid  && companyForm.controls['user'].controls['first_name'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="first_name" class="form-control" placeholder="Nombre"
                           id="first_name"/>
                    <control-messages
                      [control]="companyForm.controls['user'].controls['first_name']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['user'].controls['last_name'].valid  && companyForm.controls['user'].controls['last_name'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Apellido</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="last_name" class="form-control" placeholder="Apellido"
                           id="last_name"/>
                    <control-messages [control]="companyForm.controls['user'].controls['last_name']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['user'].controls['email'].valid  && companyForm.controls['user'].controls['email'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="email" class="form-control" placeholder="Email"
                           id="user_email"/>
                    <control-messages [control]="companyForm.controls['user'].controls['email']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['user'].controls['rut_passport'].valid  && companyForm.controls['user'].controls['rut_passport'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">RUT o Pasaporte</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="rut_passport" class="form-control" placeholder="RUT o Pasaporte"
                           id="rut_passport"/>
                    <control-messages
                      [control]="companyForm.controls['user'].controls['rut_passport']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!companyForm.controls['user'].controls['position'].valid  && companyForm.controls['user'].controls['position'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Cargo</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="position" class="form-control" placeholder="Cargo"
                           id="position"/>
                    <control-messages [control]="companyForm.controls['user'].controls['position']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="toolbar text-center">
          <button class="btn btn-danger btn-lg" type="button" (click)="cancel()">
            <i class="fa fa-trash"></i>
            Cancelar
          </button>
          <button class="btn btn-success btn-lg" type="submit" [disabled]="!companyForm.valid || saving">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
