<app-page-title [title]="title" [breadcrumbs]="breadcrumbs"></app-page-title>
<form role="form" class="form-horizontal form-label-left" [formGroup]="configAssetsForm" (submit)="onSubmit()">
  <ng-template #loadingIndicator>
    <div class="text-center">
      <img width="70px" src="assets/img/gears2.svg" alt="">
      <h4>Cargando Configuración de Activos...</h4>
    </div>
  </ng-template>
  <div *ngIf="!loading; else loadingIndicator">
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Configuración
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!configAssetsForm.controls['sku_type'].valid  && configAssetsForm.controls['sku_type'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Formato del código de
                    identificación
                  </label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <p-dropdown [options]="SKU_TYPES" formControlName="sku_type" [filter]="true"
                                placeholder="Seleccione un formato"></p-dropdown>
                    <control-messages [control]="configAssetsForm.controls['sku_type']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="configAssetsForm.controls['sku_type'].value == SKU_TYPES[1].value">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!configAssetsForm.controls['sku_mask'].valid  && configAssetsForm.controls['sku_mask'].touched}">
                  <label for="sku_mask" class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Mascara del código
                    de identificación
                  </label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="sku_mask" class="form-control" placeholder="Mascara del código"
                           id="sku_mask"/>
                    <control-messages [control]="configAssetsForm.controls['sku_mask']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <label for="sku_mask_test" class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Probar Mascara
                  </label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input [textMask]="{mask: mask}" name="sku_mask" id="sku_mask_test" type="text" class="form-control"
                           formControlName="sku_mask_test">
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="configAssetsForm.controls['sku_type'].value == SKU_TYPES[1].value">
              <div class="col-xs-12">
                <div class="well">
                  <h4>Instrucciones para la mascara:</h4>
                  <ul class="list-unstyled">
                    <li>
                      0: Digito del 0 al 9
                    </li>
                    <li>
                      L: Letra mayuscula
                    </li>
                    <li>
                      A: Letra mayuscula o numero del 0 al 9
                    </li>
                    <li>
                      Los demas caracteres de la mascara se tomaran de manera literal
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="toolbar text-center">
          <button class="btn btn-success btn-lg" type="submit" [disabled]="!configAssetsForm.valid || saving">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
