<div class="x_panel" *ngIf="section.visible">
  <div class="x_title">
    <h2>{{section.title}}
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content" [formGroup]="closureFG">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="">
            <input type="checkbox" formControlName="observations"> ¿Puede contener observaciones o mejoras?
          </label>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="">
            <input type="checkbox" formControlName="approval"> ¿Necesita aprobacion para cerrarse?
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
