<div class="x_panel" *ngIf="section.visible">
  <div class="x_title">
    <h2>{{section.title}}
    </h2>
    <a class="pull-right close-btn" *ngIf="!section.required"
       (click)="removeSection()">
      <i class="fa fa-close"></i>
    </a>
    <div class="clearfix"></div>
  </div>
  <div class="x_content" [formGroup]="personsFG">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input type="checkbox" formControlName="hasSupervisor"> ¿La actividad tiene un supervisor?
            </label>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="supervisor" *ngIf="personsFG.controls['hasSupervisor'].value">
      <h3>Validaciones de Supervisor</h3>
      <p-dataTable [value]="supervisor.controls" [responsive]="true"
                   emptyMessage="Debe añadir una validación si es necesario">
        <p-header>
          <div class="row">
            <div class="col-xs-12 col-md-3 text-left">
              <div>
                <button class="btn btn-success" type="button" (click)="newSupervisorValidation()">
                  <i class="fa fa-plus"></i>
                  Nueva Validación
                </button>
              </div>
            </div>
          </div>
        </p-header>
        <p-column>
          <ng-template pTemplate="header">
            Tipo de Validación
          </ng-template>
          <ng-template let-supervisor="rowData" pTemplate="body">
            {{supervisor.controls['value'].value['label']}}
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            Validación
          </ng-template>
          <ng-template let-supervisor="rowData" pTemplate="body">
            <div class="text-center">
              {{supervisor.controls['validation'].value.hasOwnProperty('name')?supervisor.controls['validation'].value['name']:supervisor.controls['validation'].value}}
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button" [header]="'Acciones'">
          <ng-template let-supervisor="rowData" let-index="rowIndex" pTemplate="body">
            <button type="button" (click)="editSupervisorValidation(supervisor,index)" class="btn-warning btn btn-sm">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" (click)="removeSupervisorValidation(index)" class="btn-danger btn btn-sm">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <templates-person-manage-supervisor (supervisorAdded)="hideSupervisorForm()"
                                          (supervisorCanceled)="hideSupervisorForm()"
                                          *ngIf="addingSupervisor || editingSupervisor"
                                          [add]="addingSupervisor"
                                          [edit]="editingSupervisor"
                                          [supervisor]="supervisor"
                                          [supervisorFormArrayIndex]="editSupervisorIndex"
                                          [isAdmin]="isAdmin">
      </templates-person-manage-supervisor>
    </div>
    <div formArrayName="operator">
      <h3>Validaciones de Operador</h3>
      <p-dataTable [value]="operator.controls" [responsive]="true"
                   emptyMessage="Debe añadir una validación si es necesario">
        <p-header>
          <div class="row">
            <div class="col-xs-12 col-md-3 text-left">
              <div>
                <button class="btn btn-success" type="button" (click)="newOperatorValidation()">
                  <i class="fa fa-plus"></i>
                  Nueva Validación
                </button>
              </div>
            </div>
          </div>
        </p-header>
        <p-column>
          <ng-template pTemplate="header">
            Tipo de Validación
          </ng-template>
          <ng-template let-operator="rowData" pTemplate="body">
            {{operator.controls['value'].value['label']}}
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            Validación
          </ng-template>
          <ng-template let-operator="rowData" pTemplate="body">
            <div class="text-center">
              {{operator.controls['validation'].value.hasOwnProperty('name')?operator.controls['validation'].value['name']:operator.controls['validation'].value}}
            </div>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button" [header]="'Acciones'">
          <ng-template let-operator="rowData" let-index="rowIndex" pTemplate="body">
            <button type="button" (click)="editOperatorValidation(operator,index)" class="btn-warning btn btn-sm">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" (click)="removeOperatorValidation(index)" class="btn-danger btn btn-sm">
              <i class="fa fa-trash"></i>
            </button>
          </ng-template>
        </p-column>
      </p-dataTable>

      <templates-person-manage-operator (operatorAdded)="hideOperatorForm()"
                                        (operatorCanceled)="hideOperatorForm()"
                                        *ngIf="addingOperator || editingOperator"
                                        [add]="addingOperator"
                                        [edit]="editingOperator"
                                        [operator]="operator"
                                        [operatorFormArrayIndex]="editOperatorIndex"
                                        [isAdmin]="isAdmin">
      </templates-person-manage-operator>
    </div>
  </div>
</div>
<div *ngIf="!section.visible">
  <button (click)="addSection()" type="button" class="btn btn-block btn-primary">
    <i class="fa fa-add"></i>
    Añadir Sección de Personas
  </button>
</div>
