<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle" (click)="toggleClicked($event)">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="" dropdown>
                    <a class="user-profile" href id="single-button" dropdownToggle>
                        <img src="assets/img/missing.png" alt="">
                        <span *ngIf="user">{{user.first_name}} {{user.last_name}}</span>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li>
                            <a href="javascript:;"> Perfil</a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>Opciones</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">Ayuda</a>
                        </li>
                        <li>
                            <a (click)="logout()">
                                <i class="fa fa-sign-out pull-right"></i>
                                Cerrar Sesión
                            </a>
                        </li>
                    </ul>
                </li>

                <li role="presentation" dropdown>
                    <a href id="notificaciones" dropdownToggle>
                        <i class="fa fa-envelope-o"></i>
                        <span class="badge bg-green">1</span>
                    </a>
                    <ul dropdownMenu class="dropdown-menu list-unstyled msg_list" role="menu"
                        aria-labelledby="notificaciones">
                        <li>
                            <a>
                                <span class="image">
                                    <img src="assets/img/missing.png" alt="">
                                </span>
                                <span>
                                    <span>Pedro Gorrin</span>
                                    <span class="time">hace 3 mins</span>
                                </span>
                                <span class="message">
                                    Agrego una nueva empresa
                                </span>
                            </a>
                        </li>
                        <li>
                            <div class="text-center">
                                <a>
                                    <strong>Ver Todas las Alertas</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
