.ui-panel-titlebar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-btn {
  font-size: 20px;
  color: $font-color;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    color: darken($font-color, 5);
  }
}
