.breadcrumb {
  a {
    color: #5A738E !important;
  }
}

.title_left {
  width: 100% !important;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .title_left {
    width: 45% !important;
  }

  .title_right {
    height: 44px;
    margin-bottom: 10px;
  }
}
