<div class="page-title">
  <div class="title_left">
    <h3>
      <a *ngIf="back" [routerLink]="back"><i class="fa fa-arrow-circle-left "></i></a>&nbsp;&nbsp;{{title}}</h3>
  </div>
  <div class="title_right" *ngIf="breadcrumbs">
    <div class="pull-right text-right hidden-xs">
      <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs">
          <a [routerLink]="breadcrumb.link" [ngClass]="{'active': breadcrumb.active}">{{breadcrumb.title}}</a>
        </li>
      </ol>
    </div>
  </div>
</div>
