.login-container {
  background: white;
  padding: 45px 25px;
  border: 1px solid #cecece;
  border-radius: 5px;
  .login-logo {
    text-align: center;
  }

  .forgot-password {
    font-size: 16px;
    padding-top: 10px;
  }
}
