<app-page-title back="/client/assets" [title]="'Información del Activo'" [breadcrumbs]="breadcrumbs"></app-page-title>
<div class="row" *ngIf="asset">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <div class="x_panel">
      <div class="x_content">
        <div class=" profile_left project_detail">
          <div class="profile_img">
            <div id="crop-avatar" class="text-center">
              <!-- Current avatar -->
              <p-lightbox [images]="[asset.coverImage]"
                          styleClass="cover-image"></p-lightbox>
            </div>

          </div>
          <div class="text-center">
            <h3 class="red">{{asset.name}}</h3>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">Marca</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p class="title-value">{{asset.brand?.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">Modelo</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p> {{asset.brandModel?.name || 'No Posee'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">Categoría</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>{{asset.category?.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">SubCategoría</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p> {{asset.subcategory?.name || 'No Posee'}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">Lugar de Trabajo</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p>{{asset.workplace?.name}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <p class="title">Status</p>
            </div>
            <div class="col-xs-12 col-md-6">
              <p> {{asset.status?.name || 'No Posee'}}</p>
            </div>
          </div>
          <br>
          <br>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button class="btn btn-warning" (click)="edit()">
                <i class="fa fa-pencil"></i>
                Editar
              </button>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-danger" (click)="remove()">
                <i class="fa fa-trash"></i>
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="x_panel">
      <div class="x_title">
        <h2>Trabajador Responsable</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class=" profile_left">
          <div class="profile_img">
            <div class="text-center">
              <!-- Current avatar -->
              <p-lightbox [images]="[asset.worker.image]"
                          styleClass="cover-image"></p-lightbox>
            </div>
          </div>
          <h4 class="red">{{asset.worker.full_name}}</h4>

          <div class="user_data">
            <div class="user_data-item">
              <i class="fa fa-briefcase user_data-item-icon"></i>
              <div class="user_data-item-data">
                {{asset.worker.position}}
              </div>
            </div>
            <div class="user_data-item">
              <i class="fa fa-envelope user_data-item-icon"></i>
              <div class="user_data-item-data">
                {{asset.worker.email}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <div class="x_panel" style="padding-bottom: 0;">
      <div class="x_content">
        <div class="row tile_count" *ngIf="asset">
          <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <div class="count_top">
              <i class="fa fa-calendar"></i>
              Fecha de Incorporación
            </div>
            <div class="count">{{asset.integration_date}}</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <div class="count_top">
              <i class="fa fa-calendar"></i>
              Fecha de Término de vida util
            </div>
            <div class="count">{{asset.end_service_life_date}}</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <div class="count_top">
              <i class="fa fa-calendar"></i>
              Fecha de término de garantía
            </div>
            <div class="count">{{asset.warranty_date || '--/--/----'}}</div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6 tile_stats_count">
            <div class="count_top">
              <i class="fa fa-calendar"></i>
              Fecha de desincorporación
            </div>
            <div class="count">{{asset.disincorporation_date || '--/--/----'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Imagenes</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div *ngIf="!asset.images.length">
              <p>No hay imagenes asociadas a este activo</p>
            </div>
            <p-lightbox [images]="asset.images"></p-lightbox>
          </div>
        </div>
        <div class="x_panel">
          <div class="x_title">
            <h2>Documentos</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div *ngIf="!asset.documents.length">
              <p>No hay documentos asociados a este activo</p>
            </div>
            <p-dataTable *ngIf="asset.documents.length" [value]="asset.documents"
                         emptyMessage="No hay documentos asociados a este activo">
              <p-column styleClass="col-button col-icon" [header]="">
                <ng-template let-document="rowData" pTemplate="body">
                  <i class="fa fa-file-word-o"
                     *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                  <i class="fa fa-file-pdf-o" *ngIf="document.mime_type == 'application/pdf'"></i>
                  <i class="fa fa-file-excel-o"
                     *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                </ng-template>
              </p-column>
              <p-column field="name" header="Nombre"></p-column>
              <p-column header="Tipo">
                <ng-template let-document="rowData" pTemplate="body">
                  <span
                    *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                    MsWord
                  </span>
                  <span *ngIf="document.mime_type == 'application/pdf'">Pdf</span>
                  <span
                    *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                    MsExcel
                  </span>
                </ng-template>
              </p-column>
              <p-column field="size" header="Tamaño"></p-column>
              <p-column styleClass="col-button" [header]="'Acciones'">
                <ng-template let-document="rowData" pTemplate="body">
                  <button type="button" pButton (click)="showDocument(document)" class="ui-button-info"
                          icon="fa-search"></button>
                </ng-template>
              </p-column>
            </p-dataTable>
          </div>
        </div>
        <div class="x_panel">
          <div class="x_title">
            <h2>Certificaciones</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div *ngIf="!asset.certifications.length">
              <p>No hay certificaciones asociadas a este activo</p>
            </div>
            <p-dataTable *ngIf="asset.certifications.length" expandableRows="true" [value]="asset.certifications"
                         emptyMessage="No hay certificaciones asociadas a este activo">
              <p-column expander="true" styleClass="col-icon"></p-column>

              <p-column [header]="'Nombre'" field="name">
              </p-column>
              <p-column [header]="'Fecha de Certificación'" field="start_date">
              </p-column>
              <p-column [header]="'Valida Hasta'" field="end_date">
              </p-column>
              <ng-template let-certification pTemplate="rowexpansion">
                <h4>Documentos</h4>
                <p *ngIf="!certification.documents.length">Este certificado no tiene documentos asociados</p>
                <ul class="list-unstyled" *ngIf="certification.documents.length">
                  <li *ngFor="let document of certification.documents">
                    <a href="" (click)="showCertificationDocument($event,document,certification.certification_id)">
                      <i class="fa fa-file-word-o"
                         *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"></i>
                      <i class="fa fa-file-pdf-o" *ngIf="document.mime_type == 'application/pdf'"></i>
                      <i class="fa fa-file-excel-o"
                         *ngIf="document.mime_type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"></i>
                      <i class="fa fa-file-image-o"
                         *ngIf="document.mime_type.indexOf('image') >= 0"></i>
                      {{document.name}}
                    </a>
                  </li>
                </ul>
              </ng-template>
            </p-dataTable>
          </div>
        </div>
        <div class="x_panel">
          <div class="x_title">
            <h2>Ubicación
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p-gmap [options]="mapOptions" [overlays]="mapOverlays"
                    (onOverlayClick)="handleMapOverlayClick($event)"
                    [style]="{'width':'100%','height':'320px'}"></p-gmap>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
