.avatar-view {
  max-width: 200px;
}

.worker-avatar-view {
  max-width: 100px;
}

.user_data {
  .user_data-item {
    display: flex;
    font-size: 14px;
    margin-bottom: 6px;
    .user_data-item-icon {
      min-width: 40px;
      align-items: center;
      font-size: 20px;
    }
    .user_data-item-data {
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.project_detail {
  .title {
    margin-bottom: 10px;
  }
  .title-value {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.tile_count .tile_stats_count {
  margin-bottom: 0 !important;
  padding-bottom: 0;
  .count {
    font-size: 20px;
    line-height: 47px;
    font-weight: 600;
  }
}

.tile_count {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.tile_stats_count {
  .count_top {
    height: 35px !important;
    white-space: normal !important;
  }
}

.tile_count .tile_stats_count:before {
  height: 70px !important;
  margin-top: 0 !important;
}
