<app-page-title [title]="'Activos'" [breadcrumbs]="breadcrumbs"></app-page-title>
<div class="row">
  <div class="col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Activos
          <small>Listado</small>
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div *ngIf="tableView">
          <p-dataTable [value]="assets" [lazy]="true" [responsive]="true" [rows]="10"
                       [paginator]="true" emptyMessage="No se encontraron registros" [pageLinks]="3"
                       [rowsPerPageOptions]="[10,20,50]" expandableRows="true"
                       (onLazyLoad)="reloadTable($event)" [totalRecords]="totalRecords">
            <p-header>
              <div class="row">
                <div class="col-xs-12 col-md-3 text-left">
                  <div>
                    <button class="btn btn-success" type="button" (click)="create()">
                      <i class="fa fa-plus"></i>
                      Nuevo Activo
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">
                  <div class=" text-left">

                    <p-multiSelect [options]="columnOptions" [(ngModel)]="columns"
                                   (onChange)="columnsChange($event)"></p-multiSelect>
                  </div>
                </div>
                <div class="col-xs-12 col-md-3">
                  <div>
                    <input (keyup)="searchGlobally()" type="text" class="form-control" [(ngModel)]="globalSearch"
                           placeholder="Buscar...">
                  </div>
                </div>
                <div class="col-xs-12 col-md-2">
                  <div>
                    <p-toggleButton onIcon="fa-th" onLabel="Lista" offLabel="Tabla" offIcon="fa-table"
                                    [(ngModel)]="tableView"></p-toggleButton>
                  </div>
                </div>
              </div>
            </p-header>
            <p-column expander="true" styleClass="col-icon"></p-column>
            <p-column *ngFor="let col of columns" [field]="col.data" [header]="col.name"
                      [sortable]="col.sort"></p-column>
            <p-column styleClass="col-button" [header]="'Acciones'">
              <ng-template let-asset="rowData" pTemplate="body">
                <button type="button" pButton (click)="showDetail(asset)" class="ui-button-info"
                        icon="fa-search"></button>
                <button type="button" pButton (click)="edit(asset)" class="ui-button-warning"
                        icon="fa-pencil"></button>
                <button type="button" pButton (click)="remove(asset)" class="ui-button-danger"
                        icon="fa-trash"></button>
              </ng-template>
            </p-column>
            <ng-template let-asset pTemplate="rowexpansion">
              <div class="row">
                <div class="col-xs-12 col-md-3 text-center" style="text-align:center">
                  <p-lightbox [images]="[asset.coverImage ?asset.coverImage:assetDefaultCoverImage]"
                              styleClass="cover-image"></p-lightbox>
                </div>
                <div class="col-xs-12 col-md-9" style="	font-size: 16px;">
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-4"><b>Marca:</b></div>
                        <div class="col-xs-12 col-md-8">{{asset.brand.name}}</div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-4"><b>Modelo:</b></div>
                        <div class="col-xs-12 col-md-8">{{asset.brandModel ?asset.brandModel.name:'No Posee'}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-4"><b>Categoría:</b></div>
                        <div class="col-xs-12 col-md-8">{{asset.category.name}}</div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-4"><b>Subcategoría:</b></div>
                        <div class="col-xs-12 col-md-8">{{asset.subcategory ?asset.subcategory.name:'No Posee'}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <div class="row">
                        <div class="col-xs-12 col-md-4"><b>Lugar de Trabajo:</b></div>
                        <div class="col-xs-12 col-md-8">{{asset.workplace.name}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataTable>
        </div>
        <div *ngIf="!tableView">

          <p-dataGrid [value]="assets" [lazy]="true" [rows]="10"
                      [paginator]="true" emptyMessage="No se encontraron registros" [pageLinks]="3"
                      [rowsPerPageOptions]="[10,20,50]"
                      (onLazyLoad)="reloadTable($event)" [totalRecords]="totalRecords">
            <p-header>
              <div class="row">
                <div class="col-xs-12 col-md-3 text-left">
                  <div>
                    <button class="btn btn-success" type="button" (click)="create()">
                      <i class="fa fa-plus"></i>
                      Nuevo Activo
                    </button>
                  </div>
                </div>
                <div class="col-xs-12 col-md-4">

                </div>
                <div class="col-xs-12 col-md-3">
                  <div>
                    <input #gb type="text" class="form-control" [(ngModel)]="globalSearch" (keyup)="searchGlobally()"
                           placeholder="Buscar..">
                  </div>
                </div>
                <div class="col-xs-12 col-md-2">
                  <div>
                    <p-toggleButton onIcon="fa-th" onLabel="Lista" offLabel="Tabla" offIcon="fa-table"
                                    [(ngModel)]="tableView"></p-toggleButton>
                  </div>
                </div>
              </div>
            </p-header>
            <ng-template let-asset pTemplate="item">
              <div style="padding:3px" class="ui-g-12 ui-md-3">
                <p-panel [header]="asset.sku" [style]="{'text-align':'center'}">
                  <img [src]="asset.coverImage?asset.coverImage.normal:defaultImage" class="text-center img-responsive"
                       style="height: 112px">
                  <div class="asset-detail">
                    <div class="text-left">
                      <div *ngFor="let col of columns">
                        <b>{{col.name | titlecase}}:</b> {{getData(asset,col.data)}}
                      </div>
                    </div>
                  </div>
                  <hr class="ui-widget-content" style="border-top:0">
                  <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">

                      <button class="btn btn-sm btn-info" (click)="showDetail(asset)">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                    <div class="btn-group" role="group">

                      <button class="btn btn-sm btn-warning" (click)="edit(asset)">
                        <i class="fa fa-pencil"></i>
                      </button>
                    </div>
                    <div class="btn-group" role="group">
                      <button class="btn btn-sm btn-danger" (click)="remove(asset)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </p-panel>
              </div>
            </ng-template>
          </p-dataGrid>
        </div>
      </div>
    </div>
  </div>
</div>

