<app-page-title [title]="'Nuevo Trabajador'" [breadcrumbs]="breadcrumbs"></app-page-title>
<form role="form" class="form-horizontal form-label-left" [formGroup]="workerForm" (submit)="onSubmit()">

  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Información General
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['first_name'].valid  && workerForm.controls['first_name'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="first_name" class="form-control" placeholder="Nombre del trabajador"
                         id="first_name"/>
                  <control-messages [control]="workerForm.controls['first_name']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['last_name'].valid  && workerForm.controls['last_name'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Apellido</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="last_name" class="form-control"
                         placeholder="Apellido del trabajador"
                         id="last_name"/>
                  <control-messages [control]="workerForm.controls['last_name']"></control-messages>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['rut_passport'].valid  && workerForm.controls['rut_passport'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Rut/Pasaporte</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="rut_passport" class="form-control" placeholder="Rut ó Pasaporte"
                         id="email"/>
                  <control-messages [control]="workerForm.controls['rut_passport']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['birthday'].valid  && workerForm.controls['birthday'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Fecha de nacimiento</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="birthday" class="form-control" placeholder="Fecha de nacimiento"
                         id="birthday"/>
                  <control-messages [control]="workerForm.controls['birthday']"></control-messages>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['position'].valid  && workerForm.controls['position'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cargo</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="position" class="form-control" placeholder="Cargo"
                         id="position"/>
                  <control-messages [control]="workerForm.controls['position']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['email'].valid  && workerForm.controls['email'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Correo Electrónico</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="email" class="form-control" placeholder="Correo Electrónico"
                         id="email"/>
                  <control-messages [control]="workerForm.controls['email']"></control-messages>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['telephone'].valid  && workerForm.controls['telephone'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Teléfonos</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="telephone" class="form-control" placeholder="Teléfonos"
                         id="telephone"/>
                  <control-messages [control]="workerForm.controls['telephone']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['active'].valid  && workerForm.controls['active'].touched}">
                <label for="active" class="control-label col-md-3 col-sm-3 col-xs-12">Activo</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input type="checkbox" id="active" formControlName="active" style="	margin-top: 10px;">
                  <control-messages [control]="workerForm.controls['active']"></control-messages>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Dirección
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['country'].valid  && workerForm.controls['country'].touched}">
                <label for="country" class="control-label col-md-3 col-sm-3 col-xs-12">País</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <select formControlName="country" class="form-control" id="country">
                    <option value="">Seleccione un país</option>
                    <option [value]="country" *ngFor="let country of countries">{{country}}</option>
                  </select>
                  <control-messages [control]="workerForm.controls['country']"></control-messages>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['state'].valid  && workerForm.controls['state'].touched}">
                <label for="state" class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Estado o Provincía</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <select formControlName="state" class="form-control" id="state">
                    <option value="">Seleccione un estado</option>
                    <option [value]="state" *ngFor="let state of states">{{state}}</option>
                  </select>
                  <control-messages [control]="workerForm.controls['state']"></control-messages>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['city'].valid  && workerForm.controls['city'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ciudad</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="city" class="form-control"
                         placeholder="Ciudad"
                         id="city"/>
                  <control-messages [control]="workerForm.controls['city']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['address'].valid  && workerForm.controls['address'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Dirección</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                    <textarea formControlName="address" class="form-control"
                              placeholder="Dirección"
                              rows="4"
                              id="address"></textarea>
                  <control-messages [control]="workerForm.controls['address']"></control-messages>
                </div>
              </div>
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['zip_code'].valid  && workerForm.controls['zip_code'].touched}">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Código Postal</label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="zip_code" class="form-control"
                         placeholder="Código Postal"
                         id="zip_code"/>
                  <control-messages [control]="workerForm.controls['zip_code']"></control-messages>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Información de Emergencia
          </h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['emergency_telephone'].valid  && workerForm.controls['emergency_telephone'].touched}">
                <label for="emergency_telephone" class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Teléfono de
                  Emergencía
                </label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="emergency_telephone" class="form-control" id="emergency_telephone"/>
                  <control-messages [control]="workerForm.controls['emergency_telephone']"></control-messages>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['emergency_contact'].valid  && workerForm.controls['emergency_contact'].touched}">
                <label for="emergency_contact" class="control-label col-md-3 col-sm-3 col-xs-12 multiline">Contacto de
                  Emergencía
                </label>
                <div class="col-xs-12 col-md-9 col-sm-9">
                  <input formControlName="emergency_contact" class="form-control" id="emergency_contact"/>
                  <control-messages [control]="workerForm.controls['emergency_contact']"></control-messages>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group"
                   [ngClass]="{'has-error':!workerForm.controls['medical_information'].valid  && workerForm.controls['medical_information'].touched}">
                <label for="medical_information" class="control-label col-xs-12 " style="text-align: left">Información Medica</label>
                <div class="col-xs-12">
                  <textarea formControlName="medical_information" class="form-control"
                            id="medical_information"></textarea>
                  <control-messages [control]="workerForm.controls['medical_information']"></control-messages>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="toolbar text-center">
        <button class="btn btn-danger btn-lg" type="button" (click)="cancel()">
          <i class="fa fa-trash"></i>
          Cancelar
        </button>
        <button class="btn btn-success btn-lg" type="submit" [disabled]="!workerForm.valid || saving">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
    </div>
  </div>
</form>
