<app-page-title back="/client/configuration/categories/subcategories" [title]="title" [breadcrumbs]="breadcrumbs"></app-page-title>
<form role="form" class="form-horizontal form-label-left" [formGroup]="subcategoryForm" (submit)="onSubmit()">
  <ng-template #loadingIndicator>
    <div class="text-center">
      <img width="70px" src="assets/img/gears2.svg" alt="">
      <h4>Cargando Subcategoría...</h4>
    </div>
  </ng-template>
  <div *ngIf="!loading; else loadingIndicator">
    <div class="row">
      <div class="col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Información General
            </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!subcategoryForm.controls['category'].valid  && subcategoryForm.controls['category'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Categoría</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <p-dropdown [options]="categories" formControlName="category" [filter]="true"
                                placeholder="Seleccione una Categoría"></p-dropdown>
                    <control-messages [control]="subcategoryForm.controls['category']"></control-messages>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group"
                     [ngClass]="{'has-error':!subcategoryForm.controls['name'].valid  && subcategoryForm.controls['name'].touched}">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                  <div class="col-xs-12 col-md-9 col-sm-9">
                    <input formControlName="name" class="form-control" placeholder="Nombre de la subcategoría"
                           id="name"/>
                    <control-messages [control]="subcategoryForm.controls['name']"></control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="toolbar text-center">
          <button class="btn btn-danger btn-lg" type="button" (click)="cancel()">
            <i class="fa fa-trash"></i>
            Cancelar
          </button>
          <button class="btn btn-success btn-lg" type="submit" [disabled]="!subcategoryForm.valid || saving">
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
