.user_data {
  .user_data-item{
    display: flex;
    font-size: 14px;
    margin-bottom: 6px;
    .user_data-item-icon{
      min-width: 40px;
      align-items: center;
      font-size: 28px;
    }
    .user_data-item-data{
      align-items: center;

    }
  }
}

.avatar-view{
  max-width: 200px;
}
